strong {
    font-size: 1rem;
    margin-right: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 200px;
}

input[type="text"]:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-color: #999;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0px 4px 6px rgba(0, 123, 255, 0.25);
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-container strong {
    flex-basis: 150px;
    flex-shrink: 0; /* Prevent shrinking */
}
.cart-container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }
  
  .cart-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 600px) {
    .cart-image {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 601px) {
    .cart-image {
      width: auto;
      height: 100%;
    }
  }
  