strong {
    font-size: 1rem;
    margin-right: 1rem;
}

input[type="text"] {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 200px;
}

input[type="text"]:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-color: #999;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0px 4px 6px rgba(0, 123, 255, 0.25);
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-container strong {
    flex-basis: 150px;
    flex-shrink: 0; /* Prevent shrinking */
}
.cart-container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
  }
  
  .cart-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 600px) {
    .cart-image {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 601px) {
    .cart-image {
      width: auto;
      height: 100%;
    }
  }
  

  .product_card {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
  }
  
  .product_card img {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  /* Apply hover effects to the whole card */
  .product_card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }
  
  /* Specific styles for h3 and h5 without transformation */
  .product_card h3, .product_card h5 {
    margin: 5px 0;
  }
  .products_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }

  @media screen and (max-width: 500px) {
    .product_card {
      width: 90%;
    }
  }
  